// Define Breakpoints
$mobile: 480px;
$tablet: 960px;
$desktop: 1280px;

@mixin respond-to($media) {
  @if $media == small-mobile {
    @media (max-width: $mobile) { @content; }
  }
  @else if $media == mobile {
    @media (max-width: $mobile ) { @content; }
  }
  @else if $media == tablet {
    @media (max-width: $tablet ){ @content; }
  }
  @else if $media == desktop {
    @media (max-width: $desktop) { @content; }
  }
}
.about-section{
    width: 100%;
    background-color:#DB00A1;
    .title-wrapper{
        margin-top: 0;
        display: flex;
        justify-content: center;
        padding-top: 4rem;
        h2{
            margin-top: 0;
            color: #251B99;
            text-transform: uppercase;
            letter-spacing: .4rem;
            text-align: center;
            font-size: 1.2rem;
            line-height: 2.4rem;
        }
    }
    p{
        padding: 6rem 0rem 12rem 0rem;
        text-align: center;
        margin: 0 auto;
        width: 700px;
        max-width: 90%;
        font-size: 2.2rem;
        color: white;
        font-weight: 200;
        @include respond-to(tablet) {
            font-size: 1.2rem;
        }
    }
}