.speakers-section {
    .title-wrapper{
        margin-top: 0;
        display: flex;
        justify-content: center;
        padding-top: 4rem;
        h2{
            margin-top: 0;
            color: #251B99;
            text-transform: uppercase;
            letter-spacing: .4rem;
            text-align: center;
            font-size: 1.2rem;
            line-height: 2.4rem;
        }
    }
}